 /* Algemene opmaak voor de hele pagina */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Stijl de header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Stijl de categorieën */
.category {
    margin: 0 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: text-decoration 0.3s ease; /* Vloeiende overgang voor onderstreping */
}

.category:hover {
    text-decoration: underline;
}

/* Stijl voor de titel */
h1 {
    font-size: 24px;
}
/* Stijl de footer */
footer {
position: fixed;
padding: 30px 0;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;}

/* Stijl de categorieën */
.category {
    margin: 0 20px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.category1 {
    margin: 0 20px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.category:hover {
    text-decoration: underline;
}

